## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
from numpy.lib.arraysetops import unique
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_type = application_df.groupby('APPLICATION_TYPE')['AFFILIATION'].count()
app_type.sort_values(ascending=False)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: AFFILIATION, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type[app_type < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification = application_df['CLASSIFICATION'].value_counts()
classification

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_value = classification.loc[classification > 1]
classification_value.head()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_value[classification_value < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2235
C3000     1918
C2100     1883
C1370        1
C1236        1
C2190        1
C4200        1
C5200        1
C1248        1
C2600        1
C1580        1
C6100        1
C1820        1
C1900        1
C2570        1
C1570        1
C3700        1
C2500        1
C1283        1
C2380        1
C1732        1
C1728        1
C2170        1
C4120        1
C8210        1
C4500        1
C1245        1
C2561        1
C2150        1
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies_df = pd.get_dummies(application_df)
dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [10]:
# Split our preprocessed data into our features and target arrays
X = dummies_df.drop(['IS_SUCCESSFUL'], axis=1).values
y = dummies_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=95)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train_scaled[0])

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=75, activation="relu", input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=75, activation="relu"))

# third hidden layer
nn.add(tf.keras.layers.Dense(units=60, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 75)                5250

 dense_1 (Dense)             (None, 75)                5700

 dense_2 (Dense)             (None, 60)                4560

 dense_3 (Dense)             (None, 1)                 61

=================================================================
Total params: 15571 (60.82 KB)
Trainable params: 15571 (60.82 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 669us/step - loss: 0.5723 - accuracy: 0.7203
Epoch 2/100
804/804 [==============================] - 1s 643us/step - loss: 0.5552 - accuracy: 0.7276
Epoch 3/100
804/804 [==============================] - 1s 633us/step - loss: 0.5507 - accuracy: 0.7317
Epoch 4/100
804/804 [==============================] - 1s 640us/step - loss: 0.5501 - accuracy: 0.7321
Epoch 5/100
804/804 [==============================] - 1s 647us/step - loss: 0.5494 - accuracy: 0.7331
Epoch 6/100
804/804 [==============================] - 1s 638us/step - loss: 0.5485 - accuracy: 0.7341
Epoch 7/100
804/804 [==============================] - 1s 636us/step - loss: 0.5475 - accuracy: 0.7335
Epoch 8/100
804/804 [==============================] - 1s 658us/step - loss: 0.5470 - accuracy: 0.7352
Epoch 9/100
804/804 [==============================] - 1s 639us/step - loss: 0.5461 - accuracy: 0.7348
Epoch 10/100
804/804 [==============================] - 1s 636us/step - loss: 0.5462 - accuracy: 0.7353
Epoch 11/100
804/804 [==============================] - 1s 650us/step - loss: 0.5446 - accuracy: 0.7353
Epoch 12/100
804/804 [==============================] - 1s 648us/step - loss: 0.5446 - accuracy: 0.7342
Epoch 13/100
804/804 [==============================] - 1s 641us/step - loss: 0.5437 - accuracy: 0.7361
Epoch 14/100
804/804 [==============================] - 1s 649us/step - loss: 0.5440 - accuracy: 0.7369
Epoch 15/100
804/804 [==============================] - 1s 655us/step - loss: 0.5429 - accuracy: 0.7369
Epoch 16/100
804/804 [==============================] - 1s 642us/step - loss: 0.5424 - accuracy: 0.7374
Epoch 17/100
804/804 [==============================] - 1s 643us/step - loss: 0.5430 - accuracy: 0.7369
Epoch 18/100
804/804 [==============================] - 1s 661us/step - loss: 0.5416 - accuracy: 0.7372
Epoch 19/100
804/804 [==============================] - 1s 646us/step - loss: 0.5419 - accuracy: 0.7364
Epoch 20/100
804/804 [==============================] - 1s 642us/step - loss: 0.5415 - accuracy: 0.7361
Epoch 21/100
804/804 [==============================] - 1s 661us/step - loss: 0.5415 - accuracy: 0.7376
Epoch 22/100
804/804 [==============================] - 1s 650us/step - loss: 0.5409 - accuracy: 0.7382
Epoch 23/100
804/804 [==============================] - 1s 641us/step - loss: 0.5407 - accuracy: 0.7379
Epoch 24/100
804/804 [==============================] - 1s 651us/step - loss: 0.5400 - accuracy: 0.7378
Epoch 25/100
804/804 [==============================] - 1s 650us/step - loss: 0.5398 - accuracy: 0.7383
Epoch 26/100
804/804 [==============================] - 1s 643us/step - loss: 0.5398 - accuracy: 0.7378
Epoch 27/100
804/804 [==============================] - 1s 644us/step - loss: 0.5396 - accuracy: 0.7385
Epoch 28/100
804/804 [==============================] - 1s 649us/step - loss: 0.5391 - accuracy: 0.7385
Epoch 29/100
804/804 [==============================] - 1s 641us/step - loss: 0.5394 - accuracy: 0.7384
Epoch 30/100
804/804 [==============================] - 1s 641us/step - loss: 0.5391 - accuracy: 0.7388
Epoch 31/100
804/804 [==============================] - 1s 659us/step - loss: 0.5387 - accuracy: 0.7385
Epoch 32/100
804/804 [==============================] - 1s 646us/step - loss: 0.5385 - accuracy: 0.7394
Epoch 33/100
804/804 [==============================] - 1s 684us/step - loss: 0.5385 - accuracy: 0.7388
Epoch 34/100
804/804 [==============================] - 1s 715us/step - loss: 0.5381 - accuracy: 0.7385
Epoch 35/100
804/804 [==============================] - 1s 681us/step - loss: 0.5376 - accuracy: 0.7387
Epoch 36/100
804/804 [==============================] - 1s 642us/step - loss: 0.5374 - accuracy: 0.7393
Epoch 37/100
804/804 [==============================] - 1s 658us/step - loss: 0.5374 - accuracy: 0.7385
Epoch 38/100
804/804 [==============================] - 1s 656us/step - loss: 0.5374 - accuracy: 0.7391
Epoch 39/100
804/804 [==============================] - 1s 638us/step - loss: 0.5375 - accuracy: 0.7390
Epoch 40/100
804/804 [==============================] - 1s 643us/step - loss: 0.5371 - accuracy: 0.7391
Epoch 41/100
804/804 [==============================] - 1s 669us/step - loss: 0.5374 - accuracy: 0.7397
Epoch 42/100
804/804 [==============================] - 1s 644us/step - loss: 0.5363 - accuracy: 0.7381
Epoch 43/100
804/804 [==============================] - 1s 645us/step - loss: 0.5366 - accuracy: 0.7388
Epoch 44/100
804/804 [==============================] - 1s 679us/step - loss: 0.5365 - accuracy: 0.7395
Epoch 45/100
804/804 [==============================] - 1s 653us/step - loss: 0.5365 - accuracy: 0.7395
Epoch 46/100
804/804 [==============================] - 1s 651us/step - loss: 0.5369 - accuracy: 0.7386
Epoch 47/100
804/804 [==============================] - 1s 666us/step - loss: 0.5361 - accuracy: 0.7395
Epoch 48/100
804/804 [==============================] - 1s 648us/step - loss: 0.5366 - accuracy: 0.7395
Epoch 49/100
804/804 [==============================] - 1s 648us/step - loss: 0.5361 - accuracy: 0.7394
Epoch 50/100
804/804 [==============================] - 1s 656us/step - loss: 0.5355 - accuracy: 0.7397
Epoch 51/100
804/804 [==============================] - 1s 661us/step - loss: 0.5357 - accuracy: 0.7401
Epoch 52/100
804/804 [==============================] - 1s 651us/step - loss: 0.5356 - accuracy: 0.7401
Epoch 53/100
804/804 [==============================] - 1s 649us/step - loss: 0.5352 - accuracy: 0.7406
Epoch 54/100
804/804 [==============================] - 1s 669us/step - loss: 0.5358 - accuracy: 0.7399
Epoch 55/100
804/804 [==============================] - 1s 647us/step - loss: 0.5358 - accuracy: 0.7402
Epoch 56/100
804/804 [==============================] - 1s 645us/step - loss: 0.5352 - accuracy: 0.7397
Epoch 57/100
804/804 [==============================] - 1s 661us/step - loss: 0.5353 - accuracy: 0.7395
Epoch 58/100
804/804 [==============================] - 1s 647us/step - loss: 0.5346 - accuracy: 0.7402
Epoch 59/100
804/804 [==============================] - 1s 647us/step - loss: 0.5347 - accuracy: 0.7399
Epoch 60/100
804/804 [==============================] - 1s 713us/step - loss: 0.5346 - accuracy: 0.7404
Epoch 61/100
804/804 [==============================] - 1s 669us/step - loss: 0.5351 - accuracy: 0.7396
Epoch 62/100
804/804 [==============================] - 1s 651us/step - loss: 0.5345 - accuracy: 0.7406
Epoch 63/100
804/804 [==============================] - 1s 672us/step - loss: 0.5347 - accuracy: 0.7407
Epoch 64/100
804/804 [==============================] - 1s 679us/step - loss: 0.5337 - accuracy: 0.7408
Epoch 65/100
804/804 [==============================] - 1s 651us/step - loss: 0.5336 - accuracy: 0.7411
Epoch 66/100
804/804 [==============================] - 1s 647us/step - loss: 0.5343 - accuracy: 0.7399
Epoch 67/100
804/804 [==============================] - 1s 653us/step - loss: 0.5341 - accuracy: 0.7402
Epoch 68/100
804/804 [==============================] - 1s 656us/step - loss: 0.5344 - accuracy: 0.7402
Epoch 69/100
804/804 [==============================] - 1s 652us/step - loss: 0.5357 - accuracy: 0.7403
Epoch 70/100
804/804 [==============================] - 1s 668us/step - loss: 0.5340 - accuracy: 0.7402
Epoch 71/100
804/804 [==============================] - 1s 655us/step - loss: 0.5334 - accuracy: 0.7411
Epoch 72/100
804/804 [==============================] - 1s 650us/step - loss: 0.5336 - accuracy: 0.7407
Epoch 73/100
804/804 [==============================] - 1s 666us/step - loss: 0.5338 - accuracy: 0.7407
Epoch 74/100
804/804 [==============================] - 1s 651us/step - loss: 0.5335 - accuracy: 0.7402
Epoch 75/100
804/804 [==============================] - 1s 653us/step - loss: 0.5342 - accuracy: 0.7404
Epoch 76/100
804/804 [==============================] - 1s 656us/step - loss: 0.5341 - accuracy: 0.7404
Epoch 77/100
804/804 [==============================] - 1s 668us/step - loss: 0.5333 - accuracy: 0.7407
Epoch 78/100
804/804 [==============================] - 1s 652us/step - loss: 0.5337 - accuracy: 0.7407
Epoch 79/100

804/804 [==============================] - 1s 645us/step - loss: 0.5388 - accuracy: 0.7400
Epoch 80/100
804/804 [==============================] - 1s 669us/step - loss: 0.5375 - accuracy: 0.7406
Epoch 81/100
804/804 [==============================] - 1s 643us/step - loss: 0.5324 - accuracy: 0.7408
Epoch 82/100
804/804 [==============================] - 1s 644us/step - loss: 0.5326 - accuracy: 0.7409
Epoch 83/100
804/804 [==============================] - 1s 663us/step - loss: 0.5326 - accuracy: 0.7410
Epoch 84/100
804/804 [==============================] - 1s 639us/step - loss: 0.5330 - accuracy: 0.7400
Epoch 85/100
804/804 [==============================] - 1s 640us/step - loss: 0.5330 - accuracy: 0.7413
Epoch 86/100
804/804 [==============================] - 1s 660us/step - loss: 0.5330 - accuracy: 0.7407
Epoch 87/100
804/804 [==============================] - 1s 651us/step - loss: 0.5329 - accuracy: 0.7412
Epoch 88/100
804/804 [==============================] - 1s 640us/step - loss: 0.5328 - accuracy: 0.7397
Epoch 89/100
804/804 [==============================] - 1s 645us/step - loss: 0.5334 - accuracy: 0.7401
Epoch 90/100
804/804 [==============================] - 1s 660us/step - loss: 0.5343 - accuracy: 0.7399
Epoch 91/100
804/804 [==============================] - 1s 645us/step - loss: 0.5328 - accuracy: 0.7408
Epoch 92/100
804/804 [==============================] - 1s 643us/step - loss: 0.5334 - accuracy: 0.7406
Epoch 93/100
804/804 [==============================] - 1s 669us/step - loss: 0.5327 - accuracy: 0.7409
Epoch 94/100
804/804 [==============================] - 1s 637us/step - loss: 0.5322 - accuracy: 0.7412
Epoch 95/100
804/804 [==============================] - 1s 648us/step - loss: 0.5326 - accuracy: 0.7406
Epoch 96/100
804/804 [==============================] - 1s 657us/step - loss: 0.5535 - accuracy: 0.7404
Epoch 97/100
804/804 [==============================] - 1s 648us/step - loss: 0.5345 - accuracy: 0.7403
Epoch 98/100
804/804 [==============================] - 1s 646us/step - loss: 0.5323 - accuracy: 0.7407
Epoch 99/100
804/804 [==============================] - 1s 645us/step - loss: 0.5320 - accuracy: 0.7408
Epoch 100/100
804/804 [==============================] - 1s 667us/step - loss: 0.5319 - accuracy: 0.7411

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5876 - accuracy: 0.7293 - 161ms/epoch - 602us/step
Loss: 0.5875705480575562, Accuracy: 0.7293294668197632

In [16]:
# Export our model to HDF5 file
nn.save("../AlphabetSoupCharityoptimized.h5")

/Users/adriansandoval/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(